@use 'variables' as var;

:host {
  align-items: center;
}

@media (min-width: 375px) {
  .rating {
    background: var.$dark-blue;
    color: var.$orange;
    padding: 10px;
    border-radius: 20px;
    margin: 0;
  }

  .title {
    margin: 35px 0 20px;
  }

  .description {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .rating {
    padding: 10px 20px;
  }
}