@use 'variables' as var;
@use 'mixins' as mix;
@use 'functions' as fn;
@use 'sass:color';


@media (min-width: var.$breakpoint-mobile) {
  .card {
    @include mix.center-card;
    width: fn.em(325px);
    height: fn.em(360px);
    padding: fn.em(25px) fn.em(24px) fn.em(35px);
    margin: 0 auto;
    border-radius: fn.em(25px);
    background: linear-gradient(var.$card-background-light, var.$card-background-dark);
  }

  .title {
    &__icon {
      $diameter-icon: fn.em(50px);
      width: $diameter-icon;
      height: $diameter-icon;
      border-radius: calc($diameter-icon / 2);
    }
  }
}

@media (min-width: var.$breakpoint-desktop) {
  .card {
    width: fn.em(410px);
    height: fn.em(415px);
    padding: fn.em(30px);
  }
}