@use 'variables' as var;
@use 'sass:color';


@media (min-width: 375px) {
  .icon {
    display: inline-flex;
    padding: 15px;
    border-radius: 50%;
  }

  .title {
    color: var.$white;
  }

  .description {
    margin: 0;
  }

  .rating {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 25px;

    &__radio-input {
      opacity: 0;
      position: fixed;
      width: 0;

      &:checked + .rating__radio-label {
        background-color: var.$medium-grey;
        color: var.$white;
      }

    }

    &__radio-label {
      font-size: 1rem;
      padding: 10px;
      background: var.$dark-blue;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: inline-flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      cursor: pointer;
    }
  }

  .submit-button {
    border-radius: 25px;
    padding: 15px;
    background: var.$orange;
    color: var.$white;
    border: 0;
    font-size: 1rem;
    text-transform: uppercase;

    &:hover {
      background: var.$white;
      color: var.$orange;
    }
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .rating {
    &:hover + .rating__radio-label {
      background-color: var.$orange;
      color: var.$white;
    }

    &__radio-label {
      font-size: 1.2rem;
      padding: 15px;
    }
  }

  .submit-button {
    font-size: 1.2rem;
  }
}