@use 'variables' as var;

body {
  background: var.$site-background;
  color: var.$site-text;
  font-family: var.$site-font-family;
}

a {
  outline: 0;
  text-decoration: none;
  color: var.$site-link;
}

// TODO: remove later
@media (min-width: 768px) {
  body {
    background: darkslateblue;
  }
}